header {
	position: relative;
	display: flex;
	justify-content: center;
}

#logo {
	color: transparent;
	text-align: center;
	font-weight: 100;
	text-transform: capitalize;
	background: linear-gradient(220.55deg, #ff9d7e 0%, #4d6ad0 100%);
	background-clip: text;
	cursor: pointer;
}

.theme-toggle {
	position: absolute;
	top: 40%;
	right: 5%;
	transform: translateY(-100%);
}

.theme-toggle input {
	display: none;
	position: relative;
}

.theme-toggle label {
	position: absolute;
}

#sun {
	fill: orange;
}

/* breakpoint will be 576px, 768px, 992px, and 1200px */

/* devices which are smaller than 576 */
@media only screen and (max-width: 576px) {
	#logo {
		font-size: 3.5rem;
	}
	.theme-toggle {
		right: 10%;
	}
	.theme-toggle label {
		height: 20px;
		width: 20px;
	}
}

/* devices which are greater than 576 */
@media only screen and (min-width: 576px) {
	#logo {
		font-size: 3.7rem;
	}
	.theme-toggle {
		right: 10%;
	}
	.theme-toggle label {
		height: 20px;
		width: 20px;
	}
}

/* devices which are 768 and higher */
@media only screen and (min-width: 768px) {
	#logo {
		font-size: 3.8rem;
	}
	.theme-toggle {
		right: 8%;
	}
	.theme-toggle label {
		height: 24px;
		width: 24px;
	}
}

/* devices which are 992 and higher */
@media only screen and (min-width: 992px) {
	#logo {
		font-size: 3.9rem;
	}
	.theme-toggle {
		right: 6%;
	}
	.theme-toggle label {
		height: 26px;
		width: 26px;
	}
}

/* devices which are 1200 and higher */
@media only screen and (min-width: 1200px) {
	#logo {
		font-size: 4.5rem;
	}
	.theme-toggle {
		top: 40%;
		right: 5%;
	}
	.theme-toggle label {
		height: 28px;
		width: 28px;
	}
}
