:root {
	--background-color: #0f0e17;
	--search-box-background-color: #1c1b22;
	--card-background-color: #2f3033;
	--card-color: white;
	--card-skeleton-color: #1a1b1b;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Prompt", sans-serif;
	background-color: var(--background-color);
}
